In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

from src.data import explore_dataset as ex

In [2]:
ex.explore("train.csv")

=== dataframe info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id_old       8000 non-null   int64
 1   Id           8000 non-null   int64
 2   GP           8000 non-null   int64
 3   MIN          8000 non-null   float64
 4   PTS          8000 non-null   float64
 5   FGM          8000 non-null   float64
 6   FGA          8000 non-null   float64
 7   FG%          8000 non-null   float64
 8   3P Made      8000 non-null   float64
 9   3PA          8000 non-null   float64
 10  3P%          8000 non-null   float64
 11  FTM          8000 non-null   float64
 12  FTA          8000 non-null   float64
 13  FT%          8000 non-null   float64
 14  OREB         8000 non-null   float64
 15  DREB         8000 non-null   float64
 16  REB          8000 non-null   float64
 17  AST          8000 non-null   float64
 18  STL          8000 non-null   float64
 19  BLK          8000 non-null   float64
 20  TOV          8000 non-null   float64
 21  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(4)
memory usage: 1.3 MB
None
=== dataframe shape ===
(8000, 22)
=== Target Value Count ===
1    6669
0    1331
Name: TARGET_5Yrs, dtype: int64
=== dataframe describe ===
             Id_old           Id           GP          MIN          PTS  \
count   8000.000000   8000.00000  8000.000000  8000.000000  8000.000000
mean    6856.971000   7798.50000    62.777875    18.576662     7.267088
std     3977.447579   2309.54541    17.118774     8.935263     4.318732
min        4.000000   3799.00000    -8.000000     2.900000     0.800000
25%     3413.750000   5798.75000    51.000000    12.000000     4.100000
50%     6787.500000   7798.50000    63.000000    16.800000     6.300000
75%    10299.250000   9798.25000    74.000000    23.500000     9.500000
max    13798.000000  11798.00000   123.000000    73.800000    34.200000

               FGM          FGA          FG%      3P Made          3PA  \
count  8000.000000  8000.000000  8000.000000  8000.000000  8000.000000
mean      2.807037     6.231212    44.608900     0.264525     0.816562
std       1.693373     3.584559     6.155453     0.384093     1.060964
min       0.300000     0.800000    21.300000    -1.100000    -3.100000
25%       1.600000     3.600000    40.400000     0.000000     0.100000
50%       2.400000     5.400000    44.400000     0.300000     0.800000
75%       3.700000     8.100000    48.700000     0.500000     1.500000
max      13.100000    28.900000    67.200000     1.700000     4.700000

               3P%          FTM          FTA          FT%         OREB  \
count  8000.000000  8000.000000  8000.000000  8000.000000  8000.000000
mean     19.583700     1.392525     1.947788    71.365825     1.077838
std      16.003155     0.926153     1.252352    10.430447     0.785670
min     -38.500000     0.000000     0.000000   -13.300000     0.000000
25%       8.400000     0.700000     1.000000    65.000000     0.500000
50%      19.500000     1.200000     1.700000    71.400000     0.900000
75%      30.600000     1.900000     2.600000    77.500000     1.500000
max      82.100000     8.100000    11.100000   168.900000     5.500000

              DREB          REB          AST          STL          BLK  \
count  8000.000000  8000.000000  8000.000000  8000.000000  8000.000000
mean      2.168500     3.245300     1.624513     0.648687     0.245212
std       1.392224     2.085154     1.355986     0.407626     0.821037
min       0.200000     0.300000     0.000000     0.000000   -17.900000
25%       1.100000     1.700000     0.700000     0.300000     0.100000
50%       1.900000     2.800000     1.300000     0.600000     0.200000
75%       2.900000     4.300000     2.200000     0.900000     0.400000
max      11.000000    15.900000    12.800000     3.600000    18.900000

               TOV  TARGET_5Yrs
count  8000.000000  8000.000000
mean      1.257763     0.833625
std       0.723270     0.372440
min       0.100000     0.000000
25%       0.700000     1.000000
50%       1.100000     1.000000
75%       1.600000     1.000000
max       5.300000     1.000000

In [3]:
ex.explore("test.csv")

=== dataframe info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id_old   3799 non-null   int64
 1   Id       3799 non-null   int64
 2   GP       3799 non-null   int64
 3   MIN      3799 non-null   float64
 4   PTS      3799 non-null   float64
 5   FGM      3799 non-null   float64
 6   FGA      3799 non-null   float64
 7   FG%      3799 non-null   float64
 8   3P Made  3799 non-null   float64
 9   3PA      3799 non-null   float64
 10  3P%      3799 non-null   float64
 11  FTM      3799 non-null   float64
 12  FTA      3799 non-null   float64
 13  FT%      3799 non-null   float64
 14  OREB     3799 non-null   float64
 15  DREB     3799 non-null   float64
 16  REB      3799 non-null   float64
 17  AST      3799 non-null   float64
 18  STL      3799 non-null   float64
 19  BLK      3799 non-null   float64
 20  TOV      3799 non-null   float64
dtypes: float64(18), int64(3)
memory usage: 623.4 KB
None
=== dataframe shape ===
(3799, 21)
=== dataframe describe ===
             Id_old           Id           GP          MIN          PTS  \
count   3799.000000  3799.000000  3799.000000  3799.000000  3799.000000
mean    7010.614109  1899.000000    62.853909    18.650224     7.328034
std     3954.173641  1096.821164    17.151740     8.727259     4.294724
min        1.000000     0.000000     6.000000     3.700000     0.700000
25%     3644.000000   949.500000    51.000000    12.200000     4.200000
50%     7062.000000  1899.000000    63.000000    17.000000     6.400000
75%    10402.500000  2848.500000    74.000000    23.300000     9.400000
max    13792.000000  3798.000000   126.000000    68.000000    33.000000

               FGM          FGA          FG%      3P Made          3PA  \
count  3799.000000  3799.000000  3799.000000  3799.000000  3799.000000
mean      2.835404     6.302580    44.599079     0.255962     0.796920
std       1.688427     3.579221     6.040168     0.380987     1.052862
min       0.300000     0.800000    25.100000    -1.000000    -2.700000
25%       1.600000     3.700000    40.500000     0.000000     0.100000
50%       2.500000     5.500000    44.600000     0.300000     0.800000
75%       3.700000     8.100000    48.500000     0.500000     1.500000
max      13.400000    26.200000    74.600000     1.600000     4.300000

               3P%          FTM          FTA          FT%         OREB  \
count  3799.000000  3799.000000  3799.000000  3799.000000  3799.000000
mean     19.234746     1.399842     1.953567    71.612924     1.096025
std      15.968989     0.926140     1.250376    10.457336     0.785678
min     -38.000000     0.000000     0.000000    23.700000     0.000000
25%       8.500000     0.700000     1.000000    65.000000     0.500000
50%      19.400000     1.200000     1.700000    71.500000     0.900000
75%      30.250000     1.900000     2.600000    78.000000     1.500000
max      73.800000     7.800000     9.800000   127.100000     6.900000

              DREB          REB          AST          STL          BLK  \
count  3799.000000  3799.000000  3799.000000  3799.000000  3799.000000
mean      2.179495     3.275783     1.636483     0.653593     0.257726
std       1.371935     2.070646     1.335496     0.410573     0.639660
min       0.200000     0.300000     0.000000     0.000000    -7.100000
25%       1.200000     1.800000     0.600000     0.400000     0.100000
50%       1.900000     2.800000     1.300000     0.600000     0.200000
75%       2.900000     4.300000     2.300000     0.900000     0.400000
max      12.000000    18.500000     9.000000     2.700000    14.800000

               TOV
count  3799.000000
mean      1.257910
std       0.712449
min       0.100000
25%       0.700000
50%       1.100000
75%       1.600000
max       5.200000

## Data Quality Concerns
- GP, 3PM, 3PA, 3p%, FT%, BLK have negative value as minimum - **Convert to absolute value** - Done
- There are potential outliers in the value between 75% mark and MAX is huge jump across all features
- Check if all made value is smaller than attempt value
- All % values are bit off and not close to Made/attempt - **Consider dropping these fields or recreate them** - Done
- BLK has outliers - **Fix it or drop these**
- Use ensemble approach - https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html build 25 random weak regressors and let them vote on the prediction
- Use **cross-validation** to fully utilize the whole training set
- 3PA and FTA has 0 value - Need to ensure 3PM and FTM are also 0 in these cases
- Split dataset and use different models for each set
    - GP < 30 ... Overfitting
    - GP > 30 ... Overfitting
    
- Target the concept of ROC, set threshold and convert high and low probability to 1 and 0, and leave the grey area as float - Doesn't do much
- Convert GP and MIN to be catagorical data like small, medium and large, then use one-hot encoding or 1~5 (This takes away the linear relationship and focus on what's important) - **Having all features help with ROC score**
- ROC plot to see if the problem or confusion map to further understand the problem
- Rip out outliers
- Using Grouping to find out floor and ceilling of all features of 0
- Create synthetic data - RESAMPLE
- all classifiers have predict_proba for probability generation