# Load Package

In [7]:
import pandas as pd
import numpy as np

# Import csv to data frame

In [50]:
df=pd.read_csv('../data/raw/train.csv')

#### CSV loaded to datafram 'df'

In [51]:
df.head(5)

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,10556,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,...,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,5342,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,...,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,5716,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,...,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,13790,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,...,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,5470,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,...,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

#### Data load was successful. First 5 rows printed successsfully

In [52]:
df.shape

(8000, 22)

#### Dataframe has 8000 rows and 22 columns

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id_old       8000 non-null   int64
 1   Id           8000 non-null   int64
 2   GP           8000 non-null   int64
 3   MIN          8000 non-null   float64
 4   PTS          8000 non-null   float64
 5   FGM          8000 non-null   float64
 6   FGA          8000 non-null   float64
 7   FG%          8000 non-null   float64
 8   3P Made      8000 non-null   float64
 9   3PA          8000 non-null   float64
 10  3P%          8000 non-null   float64
 11  FTM          8000 non-null   float64
 12  FTA          8000 non-null   float64
 13  FT%          8000 non-null   float64
 14  OREB         8000 non-null   float64
 15  DREB         8000 non-null   float64
 16  REB          8000 non-null   float64
 17  AST          8000 non-null   float64
 18  STL          8000 non-null   float64
 19  BLK          8000 non-null   float64
 20  TOV          8000 non-null   float64
 21  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(4)
memory usage: 1.3 MB

#### There are no null values in the dataframe.

Id Columns to be droped
 - Remove Id_old
 - Remove ID

In [54]:
df.describe()

,Id_old,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,6856.971000,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,3977.447579,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,4.000000,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,3413.750000,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,6787.500000,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,10299.250000,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,13798.000000,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

#### Describe shows a few columns with negative values like GP which realistially cant be negative

Finding the list of all columns with negative value

In [96]:
df.columns[(df < 0).any()]

Index(['GP', '3P Made', '3PA', '3P%', 'FT%', 'BLK'], dtype='object')

#### Check the size of dataframe if all the rows with nevative values are removed

In [123]:
df[(df > 0).all(1)].shape

(3510, 22)

This is not good. Investigate further to evaluate removal of features vs rows

Checking the size of dataframe if all rows with nevative values were removed

In [116]:
for cols in df.columns:
    chk_rows = df[df[cols]<0].shape[0]
    if chk_rows > 0 :
        print(f'Column Name {cols},\tRows with Negative Value {chk_rows},\tPercentage {chk_rows/len(df)*100}')

Column Name GP,	Rows with Negative Value 2,	Percentage 0.025
Column Name 3P Made,	Rows with Negative Value 1629,	Percentage 20.3625
Column Name 3PA,	Rows with Negative Value 1658,	Percentage 20.724999999999998
Column Name 3P%,	Rows with Negative Value 878,	Percentage 10.975
Column Name FT%,	Rows with Negative Value 1,	Percentage 0.0125
Column Name BLK,	Rows with Negative Value 1048,	Percentage 13.100000000000001

Based on the above, 
 - remove the Feature columns 3P Made , 3PA, 3P%, BLK as the rows impacted are > 10% 
 - remove the rows with negateive values for GP and FT%

Taking 10% as threshhold to retain good quality data

#### Double checking any NA value.

In [117]:
df.isna().sum()* 100 / len(df)

Id_old         0.0
Id             0.0
GP             0.0
MIN            0.0
PTS            0.0
FGM            0.0
FGA            0.0
FG%            0.0
3P Made        0.0
3PA            0.0
3P%            0.0
FTM            0.0
FTA            0.0
FT%            0.0
OREB           0.0
DREB           0.0
REB            0.0
AST            0.0
STL            0.0
BLK            0.0
TOV            0.0
TARGET_5Yrs    0.0
dtype: float64

All Good, no changes required

Checking Duplicates

In [118]:
df[df.duplicated()]

Empty DataFrame
Columns: [Id_old, Id, GP, MIN, PTS, FGM, FGA, FG%, 3P Made, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, STL, BLK, TOV, TARGET_5Yrs]
Index: []

[0 rows x 22 columns]

All Good. No change required


Removing IDs as they will not be required further. And removing other columns based on decision above

In [129]:
df_cleaned = df.drop(['Id_old','Id', '3P Made', '3PA','3P%', 'BLK' ],axis=1)

Based on decision above removing rows for the two columsn

In [ ]:
df_cleaned = df_cleaned[df_cleaned['GP']>0]

In [ ]:
df_cleaned = df_cleaned[df_cleaned['FT%']>0]

In [128]:
print("Original Dataframe Shape",df.shape)
print("Cleansed Dataframe Shape",df_cleaned.shape)

Original Dataframe Shape (8000, 22)
Cleansed Dataframe Shape (7997, 16)

#### Split Feature and Target Column for Training

In [130]:
x=df_cleaned.drop('TARGET_5Yrs',axis=1)
y=df_cleaned['TARGET_5Yrs']

In [131]:
y.value_counts(normalize=True)

1    0.833625
0    0.166375
Name: TARGET_5Yrs, dtype: float64

(7997, 16)

Index(['MIN', 'PTS', 'FGM', 'FGA', 'FG%', 'FTM', 'FTA', 'OREB', 'DREB', 'REB',
       'AST', 'STL', 'TOV', 'TARGET_5Yrs'],
      dtype='object')